body {
  background: url("images/bg7.jpg") no-repeat center/cover;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}

/* Glass Card */
.glass-card {
  width: 350px;
  padding: 20px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

