.animal{
    display: flex;
    flex-direction: column;
}

.cat{
    width: 100%;
    border-radius: 50%;
}

.oliver-cat{
    display: flex;
    column-gap: 20px;
    /* border: 1px solid black; */
    width: 100%;
    max-width: 300px;
    padding: 5px;
}

.cat-pfp{
    flex: 1;
    align-content: center;
}

.cat-name{
    flex: 2;
}

.cat-follow{
    flex: 1;
    align-content: center;
}

.fol-btn{
    background-color: rgba(53, 140, 240, 0.918);
    color: white;
    padding: 9px;
    padding-left: 11px;
    padding-right: 11px;
    border: none;
    border-radius: 5px;
    font-size: clamp(14px, 1.5vw, 18px);
}