.top{
    background-color: rgb(39, 54, 54);
    padding: 25px;
    text-align: center;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top-left-radius: 270px;
    border-bottom-right-radius: 250px;
    color: bisque;
    
}

.body_color{
    background-color: white;
}

.middle_section{
    background-color: rgba(39, 54, 54, 0.363);
    padding: 25px;
    text-align: center;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top-left-radius: 21px;
    border-bottom-right-radius: 21px;
    color: rgba(180, 224, 21, 0.61);
}

.form{
    background-color: rgba(39, 54, 54, 0.363);
    padding: 25px;
    text-align: center;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top-left-radius: 21px;
    border-bottom-right-radius: 21px;
    color: rgb(186, 235, 11);
}

.about_us{
    background-color: chocolate;
    text-align: center;
    font-size: 35px;
}
/* css background */
.bg_col{

    background-color: rgb(20, 100, 192);
    width: 300px;
    height: 300px;

}

.bg_img{
    width: 700px;
    height: 600px;
    background-image: url("../img/Screenshot\ \(33\).png");
}

/* background_repeat */
.background_repeat{
     width: 1100px;
    height: 1100px;
    background-image: url("../img/Screenshot\ \(33\).png");
    background-repeat: no-repeat;
    background-color: aliceblue;
}

.background_attachment{
    width: 100%;
    height: 400px;
    background-image: url("../img/chinese-lanterns-3206530_1280.jpg");
    opacity: 0.3;
    background-attachment: fixed;
}

.background_position{
     width: 1500px;
    height: 1100px;
    background-image: url("../img/Screenshot\ \(33\).png");
    background-repeat: no-repeat;
    background-color: aliceblue;
    background-size: cover;
}

.class_selector {
    color: black;
}

/* group selector format */
p, h1, h3, h5 {
    color: red;
}

/* * {
    color: red;
    font-size: 20px;
    margin: 0px;

} */


.welcome_heading {
    background-color: green;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
}



#about_title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 128, 0, 0.684);
    color: white;
    width: 8%;
    padding: 5px;
    opacity: 0.2;

}

/* CSS selector starts here  */
/* 
* {
    color: red;
    font-size: 20px;
    margin: 0px;

} */

/* class name selector  */

.class_selector {
    color: green;
}

/* id selector  */
#id_selector {
    color: orange;
}

/* tagname selector  */

/* p {
    color: purple !important;
    font: 50px;
} */

h4 {
    color: yellow !important;
}

/* group selector  */

/* p,
h4,
h3,
h1,
h5 {
    color: blue;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
} */

/* css background starts here  */

.enq_ask {

    background-color: #F6F9FF;
    width: 800px;
    height: 400px;
}

/* bg image  */

.bg_img {
    width: 1000px;
    height: 800px;
    background-image: url("../img/email_icon.png");

}

/* bg repeat  */

#bg_img_repeat {
    width: 500px;
    height: 400px;
    background-image: url("../img/email_icon.png");
    background-repeat: no-repeat;
    background-color: green;


}

/* background position  */

.bg_position {

    width: 500px;
    height: 400px;
    background-image: url("../img/email_icon.png");
    background-repeat: no-repeat;
    background-color: green;
    background-position: center;
    background-size: cover;

}

/* background attachment  */

.bg_attach {
    width: 100vw;
    height: 200px;
    background-image: url(../img/girl-9825347_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    background-attachment: fixed;
}



/* 24th sept 2024  */

/* CSS BORDER STARTS HERE  */

.css_border {
    border: 1px solid black;
    width: 50%;
    height: 100px;
}

.css_dotted_border {
    border: 2px dashed green;
    width: 50%;
    height: 100px;
}

/* .css_left_border {
    border-left: 5px;
    border-left-color: green;
    border-left-style: solid;
    width: 50%;
    height: 100px;
} */

/* .css_left_border {
    border-left: 5px solid green;
    width: 50%;
    height: 100px;
} */
.css_left_border {
    border-left: 5px solid green;
    border-right: 5px dashed red;
    border-bottom: 5px solid green;
    width: 50%;
    height: 100px;
}

/* CSS MARGIN STARTS HERE  */

.css_margin {
    border: 3px solid black;
    width: 50%;
    height: 80px;
    /* margin: 100px; */

}

/* .css_margin-left {
    border: 3px solid orange;
    width: 50%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 20px;

} */
/* adding margin in one line of code */

/* .css_margin-left {
    border: 3px solid orange;
    width: 50%;
    height: 80px;
    margin: 20px 0px 100px 20px;

} */

/* using two values to give margin  */
.css_margin-left {
    border: 3px solid orange;
    width: 50%;
    height: 80px;
    margin: 100px 0px;

}

/* CSS PADDING STARTS HERE  */

.css_padding {
    width: 70%;
    height: 90px;
    border: 2px solid purple;
    margin: 50px 0px 0px 20px;
    /* padding: 100px; */
    /* padding: 50px 0px; */
    padding: 50px 0px 50px 0px;
}

/* 26th Sept 2025 */
/* css box model starts here */
.css_box_model{
    width: 350px;
    height: 200px;
    border: 20px solid red;
    margin: 150px 200px 150px 120px;
    padding: 100px;
}
/* css text color starts here */
.css_text_color{
    width: 70%;
    height: 100px;
    border: 1px solid black;
    color: aqua;
}

.iswipe{
    color:  green !important;
}
.iswipe span {
    color:  rgb(92, 9, 13);
}

.css_text_align{
    width: 70%;
    height: 100px;
    border: 1px solid black;
    color: aqua;
    text-align: justify;
}

.css_text_decor{
    width: 70%;
    height: 100px;
    border: 1px solid black;
    color: aqua;
    text-align: justify;
    
}



.css_text_decor a {
    color: black;
    text-decoration: none;
}

.css_text_transform{
    width: 70%;
    height: 100px;
    border: 1px solid black;
    color: aqua;
    text-align: justify;
    text-transform: uppercase;
}

.css_text_spacing{
    width: 70%;
    height: 100px;
    border: 1px solid black;
    color: aqua;
    text-align: justify;
    text-transform: uppercase;
    line-height: 70px;
    overflow: hidden;
    letter-spacing: 5px;
    word-spacing: 7px;
}

.css_text_shadow{
    width: 70%;
    height: 100px;
    border: 1px solid black;
    color: aqua;
    text-align: justify;
    text-transform: uppercase;
    line-height: 70px;
    overflow: hidden;
    letter-spacing: 5px;
    word-spacing: 7px;
    text-shadow: 3px 1px;
}

/* changing the shadow color */
.css_text_shadow_color{
    text-shadow: 2px 2px rgba(255, 0, 0, 0.575);
}
/* shadow blur */
.css_text_shadow_blur{
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.575);
    font-family: "Bitcount Single Ink";
}

/* adding max width */
.css_max_width{
    width: 350px;
    height: auto;
    border: 200px black;
}
you give the parent tag the relative attribite
.css_relative_position{
    width: 50%;
    height: 400px;
    background-color: orange;
    margin: 100px;


}

.css_absolute_position{
    width: 20%;
    height: 100px;
    background-color: green;

}

.sticky_position{
    width: 100%;
    height: 50px;
    background-color: blanchedalmond;
    border: 7px solid green;
    position: sticky;
    top: 0;
    z-index: 1;
}
/* CSS overflow starts here */

.css_overflow{
    width: 70%;
    height: 35%;
    overflow: scroll;
    border: 3px solid green;
}

.css_float{
    width: 70%;
    border: 2px solid pink;
    padding: 35px;
}

.css_float img{
    float: left;
    padding: 15px;
}

/* 2nd October 2025 */
.p_link ul li a:link{
        color: red;
        text-decoration: none;
}

.p_link ul {
    color: chartreuse;
    
}

.p_link ul li a:visited{
    color: rgb(38, 102, 107);
}

.p_link ul li a:hover{
    color: rgb(54, 22, 22);
    text-decoration: underline;
}

.hover_effect{
    width: 170px;
    height: 150px;
    font-size: 50px;
    border: solid black;
    padding: 30px;
    background-color: chocolate;
    margin-top: 100px;
    color: aliceblue;
    border: 20px 20px 0px 0px;
}

.hover_effect:hover{
    background-color: crimson;
    border: 40px 30px 30px 20px;
}

/* Pseudo Elements */

.pseudo_element::first-line{
    color: darkblue;
}

.pseudo_element::first-letter{
    color: #F6F9FF;
    background-color: green;
}

.before_pseudo::before{
    content: url(../img/403019_avatar_male_man_person_user_icon.png);
    width: 30px;
}

.after_p{
    text-decoration: none;
    color: orange;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
    position: relative;

}

.after_p::after {
    content: " ";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0px;
    background: green;
    top: 24;
}

.after_p:hover{
    width: 50%;
}

/* Flex Starts here... October 6 2025 */

.main_nav {
    width: 100%;
    height: 120px;
    background-color: rgb(97, 164, 223);
    margin-top: 50px;
    display: flex;
    gap: 200px;
}

.main_nav .logo_div {
    width: 500px;
    height: 120px;
    background-image: url(../logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main_nav .list_items {
    width: 900px;
    height: 100px;
}

.main_nav .list_items ul li {
    list-style-type: none;
}
.main_nav .list_items ul li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main_nav .list_items ul li a:hover {
    color: rgb(255, 0, 4);
    transition: 0.4s;
}

.main_nav .list_items ul {
    display: flex;
    gap: 140px;
    justify-content: center;
    padding-top: 14px;
    padding-right: 21px;
}

.main_card {
    width: 100%;
    height: 50vh;
    margin-top: 42px;
    background-color: rgba(0, 255, 255, 0.575);
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-direction: row;
    margin-top: 70px;
    border: 2px solid black;
}

.main_card .box1 {
    width: 280px;
    height: 250px;
    /* border: 2px solid black; */
    background-color: #eaeaeb;
    border-radius: 21px;
    margin-top: 60px;
    border: 6px solid rgba(30, 27, 27, 0.635);
}

.two47_support {
    width: 100px;
    height: 100px;
    
    margin-right: 162px;
    border-radius: 21px;
    content: url(../support.png);
}

.support2 {
    width: 280px;
    height: 150px;
    /* border: 1px solid black; */
    margin-right: 142px;
    border-radius: 21px;
    font-size: 20px;
    margin-top: 7px;
}

.free_ssl {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    margin-right: 162px;
    border-radius: 21px;
    content: url(../ssl-img.png);
}

.ssl2 {
    width: 280px;
    height: 150px;
    /* border: 1px solid black; */
    margin-right: 142px;
    border-radius: 21px;
    font-size: 20px;
    margin-top: 5px;
}

.money_back {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    margin-right: 142px;
    border-radius: 21px;
    content: url(../money-back.png);
}


.money2 {
    width: 280px;
    height: 150px;
    /* border: 1px solid black; */
    margin-right: 142px;
    border-radius: 21px;
    font-size: 20px;
    margin-top: 7px;
}

.uptime {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    margin-right: 142px;
    border-radius: 21px;
    content: url(../uptime.png);
}

.uptime2 {
    width: 280px;
    height: 150px;
    margin-top: 7px;
    /* border: 1px solid black; */
    margin-right: 142px;
    border-radius: 21px;
    font-size: 20px;
}

/* Css Grid */

.grid1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    row-gap: 50px;
}

.grid1 .item1 {
    width: 140px;
    height: 140px;
    background-color: chocolate;
}
.grid1 .item2 {
    width: 140px;
    height: 140px;
    background-color: rgb(168, 210, 30);
}
.grid1 .item3 {
    width: 140px;
    height: 140px;
    background-color: rgb(30, 210, 66);
}
.grid1 .item4 {
    width: 140px;
    height: 140px;
    background-color: rgb(30, 186, 210);
}
.grid1 .item5 {
    width: 140px;
    height: 140px;
    background-color: rgb(57, 30, 210);
}
.grid1 .item6 {
    width: 140px;
    height: 140px;
    background-color: rgb(210, 30, 30);
}
.grid1 .item7 {
    width: 140px;
    height: 140px;
    background-color: rgb(210, 30, 153);
}
.grid1 .item8 {
    width: 140px;
    height: 140px;
    background-color: rgb(7, 17, 84);
}
.grid1 .item9 {
    width: 140px;
    height: 140px;
    background-color: rgb(7, 83, 9);
}
/* adding different franction */
.css_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 50px;
    margin-top: 50px;
    column-gap: 20px;
}

.css_grid>div {
    width: auto;
    height: 100px;
    background-color: chartreuse;
}



.grid_start {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    row-gap: 20px;
    column-gap: 20px;
}

.grid_start>div {
    height: 100px;
    width: auto;
    background-color: blueviolet;
    
}

.grid_start .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid_start .item4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid_start .item5 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid_column {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    row-gap: 20px;
    column-gap: 20px;
}

.grid_column>div {
    height: 100px;
    width: auto;
    background-color: rgb(143, 86, 21);
}

.grid_column .item1 {
    grid-column: 1 / span 2;
}

.grid_row {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    row-gap: 20px;
    column-gap: 20px;
}

.grid_row>div {
    /* height: 100px;
    width: auto; */
    background-color: rgb(210, 118, 12);
}

.grid_row .item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid_row .item4 {
    grid-row-start: 2;
    grid-row-end: 4;
}

